<template>
  <DASHBOARD />
</template>

<script>
// @ is an alias to /src
import DASHBOARD from "@/components/DASHBOARD.vue";

export default {
  name: "Home",
  components: {
    DASHBOARD
  }
};
</script>
