<template>
    <v-container>
        <v-row>
            <v-col class="col-12">
                <v-alert
                        dense
                        type="error"
                >
                    Due to a bug in the public API used, data and values may differ from reality. I am working on a solution.
                </v-alert>
                <p class="ma-0">Last Update: {{globalData.lastUpdate}} </p>
                <h1>COVID<span style="color: #D90429">19</span>DASHBOARD</h1>
                <p class="textjustify">
                    The Covid19Dashboard is an interactive web platform built with Vue.js and Vuetify to display statistics and data about the Covid19 virus.
                </p>
                <p class="textjustify" style="margin-top:-15px">
                    Showing data from John Hopkins University CSSE.
                </p>
            </v-col>
        </v-row>

        <v-row>
            <v-col class="col-12">
                <h2>Global</h2>
                <p class="textjustify">
                    Here you can see global information about the Covid19 virus.
                </p>
            </v-col>
        </v-row>

        <v-row  v-if="showGlobalData == true">
            <v-col class="col-12 col-xl-4 col-lg-4">
                <div class="box pa-3">
                    <p class="mb-0">Infected</p>
                    <p class="maincounter mb-0">{{globalData.active}}</p>
                    <p class="subcounter">+{{globalData.activeDelta}} / 24h</p>
                </div>
            </v-col>

            <v-col class="col-12 col-xl-4 col-lg-4">
                <div class="box pa-3">
                    <p class="mb-0">Deceased</p>
                    <p class="maincounter mb-0">{{globalData.deaths}}</p>
                    <p class="subcounter">+{{globalData.deathDelta}} / 24h</p>
                </div>
            </v-col>

            <v-col class="col-12 col-xl-4 col-lg-4">
                <div class="box pa-3">
                    <p class="mb-0">Recovered</p>
                    <p class="maincounter mb-0">{{globalData.recovered}}</p>
                    <p class="subcounter">+{{globalData.recoveredDelta}} / 24h</p>
                </div>
            </v-col>
        </v-row>

        <v-row v-else>
            <v-col class="col-12">
                <v-skeleton-loader type="list-item-three-line"></v-skeleton-loader>
            </v-col>

            <v-col class="col-12">
                <v-skeleton-loader type="list-item-three-line"></v-skeleton-loader>
            </v-col>

            <v-col class="col-12">
                <v-skeleton-loader type="list-item-three-line"></v-skeleton-loader>
            </v-col>
        </v-row>

        <v-row>
            <v-col class="col-12">
                <h2>{{currentCountry.name}}</h2>
                <p class="textjustify">
                    Here you can find information about the Covid19 virus in {{currentCountry.name}}.
                </p>


            </v-col>
        </v-row>

        <v-row>
            <v-col class="col-12">
                <div class="flags">
                    <div :key="country" style="float: left" v-for="country in countries">
                        <img :src="
                'https://www.countryflags.io/' + country.iso2 + '/flat/24.png'
              "
                             @click="getBasicData(country.iso2)"
                             class="pa-2"
                             v-if="country.iso2 != undefined"
                        />
                    </div>
                </div>
            </v-col>
        </v-row>

        <v-row v-if="showCurrentCountry == true">
            <v-col class="col-12 col-xl-4 col-lg-4">
                <div class="box pa-3">
                    <p class="mb-0">Infected</p>
                    <p class="maincounter mb-0">{{ currentCountry.active }}</p>
                    <p class="subcounter">+ {{currentCountry.activeDelta}} / 24h</p>
                </div>
            </v-col>

            <v-col class="col-12 col-xl-4 col-lg-4">
                <div class="box pa-3">
                    <p class="mb-0">Deceased:</p>
                    <p class="maincounter mb-0">{{ currentCountry.deaths }}</p>
                    <p class="subcounter">+ {{currentCountry.deathDelta}} / 24h</p>
                </div>
            </v-col>

            <v-col class="col-12 col-xl-4 col-lg-4">
                <div class="box pa-3">
                    <p class="mb-0">Recovered:</p>
                    <p class="maincounter mb-0">{{ currentCountry.recovered }}</p>
                    <p class="subcounter">+ {{currentCountry.recoveredDelta}} / 24h</p>

                </div>
            </v-col>
        </v-row>

        <v-row v-else>
            <v-col class="col-12">
                <v-skeleton-loader type="list-item-three-line"></v-skeleton-loader>
            </v-col>
        </v-row>

        <v-row>
            <v-col class="col-12">
                <div v-if="showCurrentCountry == true" class="pa-3 stats">
                    <table width="40%">
                        <tr>
                            <td><h3>Country:</h3></td>
                            <td>{{currentCountry.name}}</td>
                        </tr>
                        <tr>
                            <td><h3>Recover rate:</h3></td>
                            <td>{{currentCountry.recoverrate}}%</td>
                        </tr>
                        <tr>
                            <td><h3>Mortality rate:</h3></td>
                            <td>{{currentCountry.deathrate}}%</td>
                        </tr>
                    </table>
                </div>
                <v-skeleton-loader v-else type="list-item-three-line"></v-skeleton-loader>
            </v-col>

        </v-row>
    </v-container>
</template>

<script>
    import axios from "axios";
    import moment from "moment";

    export default {
        data() {
            return {
                countries: [],
                currentCountry: {},
                globalData: {},
                showCurrentCountry: false,
                showGlobalData: false,
            };
        },

        methods: {
            getCountries: function () {
                let self = this;

                axios
                    .get("https://covid19.mathdro.id/api/countries")
                    .then(function (response) {
                        self.countries = response.data.countries;
                        console.log(self.countries);
                    })
                    .catch(function (error) {
                        console.log(error);
                    });
            },

            getYesterday: function () {
                let self = this;
                let yesterday = moment().subtract(1,'days').format('M-DD-YYYY')

                axios
                    .get("https://covid19.mathdro.id/api/daily/"+yesterday)
                    .then(function (response) {
                        let yesterdayData = response.data.find(item => item.countryRegion === self.currentCountry.name);
                        self.currentCountry.yesterday = {}
                        self.currentCountry.yesterday.confirmed = yesterdayData.confirmed;
                        self.currentCountry.yesterday.deaths = yesterdayData.deaths
                        self.currentCountry.yesterday.recovered = yesterdayData.recovered

                        self.currentCountry.yesterday.active =
                            self.currentCountry.yesterday.confirmed -
                            self.currentCountry.yesterday.deaths -
                            self.currentCountry.yesterday.recovered;



                        self.$set(self.currentCountry, 'activeDelta', parseInt(self.currentCountry.active.replace(".","").replace(".","")) -   self.currentCountry.yesterday.active)
                        self.$set(self.currentCountry, 'deathDelta', parseInt(self.currentCountry.deaths.replace(".","").replace(".","")) -  self.currentCountry.yesterday.deaths)
                        self.$set(self.currentCountry, 'recoveredDelta', parseInt(self.currentCountry.recovered.replace(".","").replace(".","")) -  self.currentCountry.yesterday.recovered)

                        self.showCurrentCountry = true;

                        console.log(self.currentCountry)

                    })
                    .catch(function (error) {
                        console.log(error);
                    });
            },

            getYesterdayGlobal: function () {
                let self = this;
                let yesterday = moment().subtract(1,'days').format('YYYY-MM-DD')

                axios
                    .get("https://covid19.mathdro.id/api/daily/")
                    .then(function (response) {
                        let yesterdayData = response.data.find(item => item.reportDate == yesterday.toString());
                        self.globalData.yesterday = {}
                        self.globalData.yesterday.confirmed = yesterdayData.confirmed.total;
                        self.globalData.yesterday.deaths = yesterdayData.deaths.total
                        self.globalData.yesterday.recovered =  parseInt(self.globalData.recovered.replace(".","").replace(".",""))

                        self.globalData.yesterday.active =
                            self.globalData.yesterday.confirmed -
                            self.globalData.yesterday.deaths -
                            parseInt(self.globalData.recovered.replace(".","").replace(".",""));



                        self.$set(self.globalData, 'activeDelta', parseInt(self.globalData.active.replace(".","").replace(".","")) -   self.globalData.yesterday.active)
                        self.$set(self.globalData, 'deathDelta', parseInt(self.globalData.deaths.replace(".","").replace(".","")) -  self.globalData.yesterday.deaths)
                        self.$set(self.globalData, 'recoveredDelta', parseInt(self.globalData.recovered.replace(".","").replace(".","")) -  self.globalData.yesterday.recovered)

                        console.log(self.globalData)
                        self.showCurrentCountry = true;

                    })
                    .catch(function (error) {
                        console.log(error);
                    });
            },

            getBasicData: function (iso2code) {
                let self = this;

                if (iso2code == undefined) {
                    iso2code = "AT"
                }

                self.showCurrentCountry = false;

                axios
                    .get("https://covid19.mathdro.id/api/countries/" + iso2code)
                    .then(function (response) {

                        self.currentCountry.name = self.countries.find(item => item.iso2 === iso2code).name;

                        self.currentCountry.confirmed = response.data.confirmed.value;
                        self.currentCountry.deaths = response.data.deaths.value;
                        self.currentCountry.recovered = response.data.recovered.value;

                        self.currentCountry.active =
                            self.currentCountry.confirmed -
                            self.currentCountry.deaths -
                            self.currentCountry.recovered;

                        self.currentCountry.activeDelta = 0;

                        self.currentCountry.recoverrate = (self.currentCountry.recovered / self.currentCountry.confirmed) *100
                        self.currentCountry.deathrate = (self.currentCountry.deaths / self.currentCountry.confirmed) *100

                        self.currentCountry.confirmed = self.currentCountry.confirmed.toLocaleString(
                            "de"
                        );
                        self.currentCountry.deaths = self.currentCountry.deaths.toLocaleString(
                            "de"
                        );
                        self.currentCountry.recovered = self.currentCountry.recovered.toLocaleString(
                            "de"
                        );
                        self.currentCountry.active = self.currentCountry.active.toLocaleString(
                            "de"
                        );

                        self.currentCountry.confirmed = self.currentCountry.confirmed.toLocaleString(
                            "de"
                        );

                        self.currentCountry.recoverrate = self.currentCountry.recoverrate.toLocaleString(
                            "de"
                        );

                        self.currentCountry.deathrate = self.currentCountry.deathrate.toLocaleString(
                            "de"
                        );

                        console.log(self.currentCountry)
                        self.getYesterday();
                        self.getYesterdayGlobal();
                    })
                    .catch(function (error) {
                        console.log(error);
                    });
            },

            getGlobalData: function () {
                let self = this;

                axios
                    .get("https://covid19.mathdro.id/api/")
                    .then(function (response) {

                        self.globalData.confirmed = response.data.confirmed.value;
                        self.globalData.deaths = response.data.deaths.value;
                        self.globalData.recovered = response.data.recovered.value;
                        self.globalData.lastUpdate =
                            moment(response.data.lastUpdate).format("DD.MM.YYYY HH:mm")


                        self.globalData.active =
                            self.globalData.confirmed -
                            self.globalData.deaths -
                            self.globalData.recovered;

                        self.globalData.confirmed = self.globalData.confirmed.toLocaleString(
                            "de"
                        );
                        self.globalData.deaths = self.globalData.deaths.toLocaleString(
                            "de"
                        );
                        self.globalData.recovered = self.globalData.recovered.toLocaleString(
                            "de"
                        );
                        self.globalData.active = self.globalData.active.toLocaleString(
                            "de"
                        );

                        self.showGlobalData = true;
                    })
                    .catch(function (error) {
                        console.log(error);
                    });
            }
        },
        mounted() {
            this.getCountries();
            this.getBasicData();
            this.getGlobalData();
        }
    };
</script>

<style>
    @import url("https://fonts.googleapis.com/css2?family=Fira+Sans:wght@400;700&display=swap");

    .v-application {
        font-family: "Fira Sans", sans-serif !important;
        color: #2b2d42 !important;
    }

    h1 {
        font-size: 32px;
    }

    .textjustify {
        text-align: justify;
    }

    .box {
        background: #2b2d42;
        border-radius: 5px;
        color: #eee;
    }

    .maincounter {
        float: left;
        font-size: 24px;
        font-weight: 700;
    }

    .subcounter {
        text-align: right;
        margin-top: 5px;
    }

    .flags {
        background-color: #edf2f4;
        border-radius: 5px;
        width: 100%;
        height: 100%;
    }

    .stats {
        background: #edf2f4;
        border-radius: 5px;
        color: #2b2d42;
    }
</style>
